div.dataTables_paginate li.paginate_button {
    display: inline-block;
    padding: 6px;
}
.user-pic {
    width: 72px;
    height: 72px;
    /*background: url(https://s3-ap-southeast-1.amazonaws.com/karta-images/upload/adasiabali.png) no-repeat; */
    /*demokarta*/
    padding: 1px;
    border: 1px solid #32c5d2;
    /* box-shadow: 1px 1px 1px 1px #32c5d2; */
    border-radius: 50%;
    object-fit: cover;
    margin-left: 20px;
}

#driver-th{
    background: gold;
}

table#driver-table {
    /* table driver formatting */
}
table#driver-table thead {
    padding: 0;
}

table {
    border-collapse: collapse;
}

/*table, th, td {
    border: 1px solid black;
}*/
td .row{
    display: inline-flex;
}

div#driver-table_paginate.dataTables_paginate.paging_simple_numbers{
    margin-left: -60px;
}

#evaluation-tbody {
    text-align: center;
}

.dataTables_length{
    padding: 7px;
}

.dataTables_wrapper .dataTables_filter input {
    margin-top: 0; /* original 0.5em */
    width: 64px;
}

#driverPage .card p {
    margin: 0;
}

#driver-icon-search {
    /*background-color: lightgrey;*/
    width: 32px;
    height: 32px;
    padding: 2px;
    
    float: right;
    margin-top: -50px;
    margin-right: 20px;
}

/* list drivers */
/*https://css-tricks.com/absolute-relative-fixed-positioining-how-do-they-differ/*/
.list-driver {
    display: block;
    position: relative;
    width: 100%;
    border-radius: 8px;
    padding-left: 20%;
    cursor: pointer;
}
.list-driver .list-driver-image {
    position: absolute; /*absolute, relative through card container*/
    left: 0;
    border-radius: 8px;
    width: 20%;
    height: auto;
}

.img-list-driver {
    display: inline;
    width: 24px;
    height: 24px;
    padding: 2px;
    margin-right: 8px;
    border: 1px solid #214069;
    border-radius: 4px;
    line-height: 1.6;
}

/*modified from account profile card*/
.profile-card-detail {
    width: 100%;
    text-align: center;
    color: white;
    padding: 8px 0;
    line-height: 1.4;
    text-shadow: rgba(0, 0, 0, 0.4) 0px 1px 0px;
    padding-top: 50px;
}

.profile-image-detail {
    height: 100px;
    width: 100px;
    border 1px solid white;
    box-shadow:rgba(0, 0, 0, 0.2) 0px 2px 0px 0px;
    position: relative;
    top: -50px;
    margin-bottom: -50px;
}
#driver-detail-back {
    height: auto;
    position: absolute;
}
#driver-detail-back .back-button__icon {
    fill: white;
}

/*https://www.w3schools.com/howto/howto_css_image_center.asp*/
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

#driver-detail-popover .popover-mask {
    z-index: 0; /*NO MASK*/ /*NOT 19999*/
}
.popover {
    display: block;
    top: auto;
}
#driver-detail-popover .popover__content {
    width: auto;
}

/*.driver-filter-slider {
    position: absolute;
    width: 80vw;
    height: 100vh;
    right: 0;
    top: 0;
    overflow: hidden;
    background-color: white;
    transition: all 1s;
}

.driver-filter-slider.driver-filter-close {
    left: 80vh;
    height: 0;
}*/

.outer {
    max-width:464px;  /*476*/
    height: 84px;
    /*border:solid 6px #38761d;*/
    /*background-color: #000;*/
    margin: 0 auto;  /* top+bottom  left+right */
    position: relative;
    /*background-color: lightgray;*/
    text-align: center;
    font-size: large;
}

.hr3 {
    color: #38761d;
    font-style: normal;
    font-size: 50px;
    font-family: georgia;
    text-align: center;
    padding-bottom: 0px;
    margin-top:6px;
    margin-bottom: -9px;
}

.hr3 span {
    display: block;
    height: 5px;
    background-color: #15c;
    transform: rotate(-.9deg);
    margin-top: 0px;
    margin-left: 26px;
    margin-right: 20px;
}

.hr4 {
    display: block;
    padding-bottom: 372px;
    border-top: 6px solid #38761d;
    margin-top: 27px;
}

.verticalLine {
    position: absolute;
    background-color: silver;
    width: 2px;
    top: 36px;
    bottom: 0px;
    left: 50%;
    margin-bottom: -16px;
}
.horizontalLine {
    position: absolute;
    background-color: silver;
    height: 2px;
    top: 36px;
    right: 0;
    left: 0;
    margin: 0 -16px;
}
#driver-detail-name {
    padding: 10px;
    font-size: 24px;
}

.driver-detail-color-blue {
    color: rgb(33, 64, 105);
}
.driver-detail-color-gray {
    color: #666666;
}
.driver-detail-hr {
    margin: 0 -16px; /* across the card */
}

#driver-campaign-image {
    z-index: 999;
}
#driver-campaign-image-overlay{ 
    position: absolute;
    background-color: rgba(100,100,100, 0.5);
    width: 100%;
    height: 100%;
    top: 0;
    transition: all ease 0.4s;
}

#driver-eval-image {
    z-index: 999;
}
#driver-eval-image-overlay{ 
    position: absolute;
    background-color: rgba(100,100,100, 0.5);
    width: 100%;
    height: 100%;
    top: 0;
    transition: all ease 0.4s;
}

select#select-driver-filter-campaign, select#select-driver-filter-subcampaign {
    max-width: 200px;
}