ons-row#galleryData > ons-col {
    z-index: 3;
}

output {
    display: block;
    padding: 1em 0.5em;
    background: #ddd;
    height: 2em;
    overflow:auto;
    font-size: 3em;
    text-align: center;
}

.gallery-image-img {
    width:115px;
    height:114px;
}

/*text over image*/
/*http://jsfiddle.net/XjthT/6/*/
.gallery-wrapper {
    width: 148px;
    height: 114px;
    background: none;
    position: relative;
    margin: 16px;
}
.gallery-image {
    height: 114px;

    float: left;
    clear: both;

    position: relative;
    
    margin: 0 auto;
    margin-left: 16px; /*(148-115)/2=16*/
    padding: 0;
    font-size: 15px;
}
.gallery-caption {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: auto;
    
    /*background: rgba(0,0,0,0.7);*/
    /*background-image: url('../images/gallery/u262.png');*/
    background: linear-gradient(
        to top,
        rgba(0,0,0,0.8) 0%,
        rgba(0,0,0,0.0) 100%
    );
    text-align: center;
    color: #fff; 
    padding: 10px;
    padding-top: 40px;

    font-weight: 500;
    font-style: normal;
    font-size: 12px;
}

/*http://jsfiddle.net/sMy97/5/*/ /*CURTAIN/OVERLAY, CLICK TO DISMISS*/
#gallery-image {
    z-index: 999;
}
#gallery-image-overlay {
    position: absolute;
    background-color: rgba(100,100,100, 0.5);
    width: 100%;
    height: 100%;
    top: 0;
    -webkit-transition: all ease 0.4s;
}

.gallery-img-over {
    position: absolute;
    top: 0;
    right: 0;
    width: 32px;
    height: 32px;
}

.instagram {
    position: absolute;
    top: 6px; /*(32-18)/2=7*/
    right: 6px;
    width: 18px;
    height: 18px;
}

#empty-gallery-content {
    width: 100%;
    height: 50vh;
    text-align: center;
    font-size: 12px;
    
    position: relative;
    top: 10vh;
    opacity: .8;
    background: none;
}