ons-splitter-side[side="bottom"] {
	bottom: 0;
	top: auto;
}

/* custom icon for bottom tabbar */
[class*="fa-my-"] {
    width: 24px; /*TODO: don't use pixels*/
    height: 24px; /*TODO: don't use pixels*/
    background-size: contain;
    background-repeat: no-repeat;
}
.fa-my-map-icon {
    background-image: url('../images/map/Map-Unselected-Icon.png');
}
.fa-my-map-icon-active {
    background-image: url('../images/map/Map-Selected-Icon.png');
}
.fa-my-gallery-icon {
    background-image: url('../images/map/gallery-unselected-icon.png');
}
.fa-my-gallery-icon-active {
    background-image: url('../images/map/gallery-selected-icon.png');
}
.fa-my-driver-icon {
    background-image: url('../images/map/Driver-Unselected-Icon.png');
}
.fa-my-driver-icon-active {
    background-image: url('../images/map/Driver-Selected-Icon.png');
}
.fa-my-account-icon {
    background-image: url('../images/map/my-account-unselected-icon.png');
}
.fa-my-account-icon-active {
    background-image: url('../images/map/my-account-selected-icon.png');
}
/* end of custom icon for bottom tabbar */

.custom .leaflet-popup-content-wrapper {
    background: white;
    color: black;
    height: 168px; /*200 if playback*/
}
.leaflet-top { /* control, zoom +/-, default top left */
    top: 108px;
}

.karta-gradient {
    background: linear-gradient(135deg, rgba(33, 64, 105, 1) 0%,
        rgba(33, 64, 105, 1) 0%,
        rgba(229, 68, 52, 1) 100%,
        rgba(229, 68, 52, 1) 100%);
}

#retry-alert {
    text-align: center;
}

/*not working*/
/*ons-icon[class$="slider-close-btn"] {
    position: relative;
    right: 0;
    display: block;
    text-align: right;
    margin-top: -30px;
}*/

.map-slider-close-btn, .gallery-slider-close-btn, .driver-slider-close-btn, .driver-eval-slider-close-btn, .account-campaign-slider-close-btn, .account-subcampaign-slider-close-btn {
    position: relative;
    right: 0;
    display: inline-block;
    float: right;
    text-align: right;
    margin-top: -30px;
}

#campaign-image-img, #gallery-campaign-image-img, #driver-campaign-image-img, #driver-detail-url, #account-campaign-image-img, #account-subcampaign-image-img {
    margin-bottom: 20px;
}