.login-form {
    text-align: center;
    width: 80%;
    margin: 60px auto 0;
}

.login-button {
    width: 100%;
    margin: 0 auto;
}

.forgot-password {
    display: block;
    margin: 8px auto 0 auto;
    font-size: 14px;
}

#karta-logo {
    padding-bottom: 32px;
}

/*input[type=email], input[type=password] {*/
input#input-email {
    display: block;
    width: 100%;
    margin: 0 auto;
    outline: none;
    height: 100%;
    padding-top: 15px;
    padding-bottom: 16px;
    margin-bottom: 8px;
}

input#input-password {
    display: inline;
    width: 100%;
    margin: 0 auto;
    outline: none;
    height: 100%;
    padding-top: 15px;
    padding-bottom: 16px;
    text-align: left;
}

#password-visible {
    display: block;
    margin: 0 auto;
    padding-top: 10px;
    padding-right: 10px;
}

#login-button {
    background: linear-gradient(135deg, rgba(33, 64, 105, 1) 0%,
        rgba(33, 64, 105, 1) 0%,
        rgba(229, 68, 52, 1) 100%,
        rgba(229, 68, 52, 1) 100%);
    cursor: pointer;
}

#login-version {
    position: fixed;
    width: 100%;
    text-align: center;
    font-size: 10px;
    bottom: 2vh;
}

footer {
    position: fixed;
    bottom: 0;
    font-size: 10px;
    text-align: center;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}