div#live-map-container {
	/* copy from google-map */
	/*width: 100%;
	height: 100%;
	margin-top: 0;*/
	/*width: 500px;
	height: 500px;
	z-index: 9999;*/
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	z-index: -1;
	overflow: hidden;

}

#icon-search {
    /*background-color: lightgrey;*/
    width: 32px;
    height: 32px;
    padding: 2px;
    
    float: right;
    margin-top: -50px;
    margin-right: 20px;
}

#icon-legend {
	background-image: url('images/map/info.png');
    position: fixed;
	/*background: rgba(27,43,61,0.8);*/
	/*background: white;*/
	color: white;
	margin: 0;
    right: 3%;
    top: 13%;
    width: 30px;
    height: 30px;
    display: none; /*hide at first load; show live map*/
}

#heatmap-legend {
	font-family: Arial, sans-serif;
	background: #fff;
	padding: 3px;
	margin: 3px;
	font-size: xx-small;
	border-collapse: collapse;
	/*border: 1px solid black;*/
	position: absolute;
	right: 0; /* align right */
    display: none; /*hide at first load; show live map*/
    width: 30%;
}
#heatmap-legend h3 {
	margin-top: 0;
}
#heatmap-legend ul {
	list-style: none;
	padding: 0;
}
#heatmap-legend ul li {
	list-style-type: none;
}
#heatmap-legend div.heatmap-legend-box {
	width: 12px;
	height: 12px;
	display: inline-block;
}
#heatmap-legend table, tr, td{
	border: none;
	padding: 2px;
}
#empty-heatmap-content {
	width: 100%;
	height: 50vh;
	text-align: center;
	font-size: 12px;
	
	position: relative;
	top: 10vh;
	opacity: .8;
	background-color: lightblue;
}



#mapPage .card p {
	margin: 0;
}
/*https://jsfiddle.net/vnxy0j0L/2/*/
#campaign-image {
	z-index: 999;
}
.slider {
	position: absolute;
    width: 100%;
    height: 80%;
    top: 20%;
	overflow: hidden;
	background-color: white; color: black;
	transition: all 0.4s;
	border-radius: 8px 8px 0 0;
	font-size: large;
}
.slider.close {
	top: 100vh;
	height: 0;
}
/*http://jsfiddle.net/sMy97/5/*/ /*CURTAIN/OVERLAY, CLICK TO DISMISS*/
#campaign-image-overlay{ 
	position: absolute;
	background-color: rgba(100,100,100, 0.5);
	width: 100%;
	height: 100%;
	top: 0;
	-webkit-transition: all ease 0.4s;
}
.inactive{
    z-index: -9999;
    opacity: 0;
    display: none;
    /*margin-top: 100vh;*/
}
.active{
    z-index: 99;
    opacity: 100%;
    /*display: block;*/
}

.info {
	font-size: 16px;
}

.campaign-swipe-image {
	border-width: 0px;
    position: relative;
    width: 36px;
    height: 6px;
    margin-top: 0;
    margin-bottom: 20px;
    background: inherit;
    background-color: rgba(215, 215, 215, 1);
    border: none;
    border-radius: 3px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
	left: 50%;
	margin-left: -18px; /* Negative half of width. */
}
#map-swipe-area {
    /*height: 20%;*/
    height: 120px;
    background-color: none;
    position: fixed;
    width: 100%;
    margin-top: -120px;
    left: 0;
    right: 0;
}
#map-swipe-gps { /* =detail */
	position: fixed;
	margin-top: -50px;
	width: 200px;
	left: 12px;
	height: 40px;
    width: 40px;
    background-color: white;
    border-radius: 20px;
    padding: 4px;
}



.stat-slider {
	position: absolute;
	width: 100%;
	height: 60vh;
	top: 40vh;
	overflow: hidden;
	/*background-color: #000; color: #FFF;*/
	background-color: rgba(249, 249, 249, 1);
	/*transition: all 1s;*/
	line-height: 1;
    border-radius: 12px 12px 0 0;
	box-shadow: 0px -2px 5px rgba(153, 153, 153, 0.349019607843137);
	padding: 8px;
}
.stat-slider.stat-first {
    top: 54vh;
    height: 38vh;
}
.stat-slider.stat-close {
	/*top: 100vh;*/
	top: 90vh; /*before tabbar height*/
	/*height: 0;*/
}

/*box for stat; border top radius*/
.stat-card {
	margin: 8px auto;
	/*padding: 4px;*/
	padding: 0;
	width: 140px;
	height: 79px;
}
.stat-card-padding {
	padding: 4px;
}
.default-box {
	position: relative;
	left: 0px;
	top: 0px;
	width: 140px;
	height: 6px;
	background: inherit;
	/*background-color: rgba(114, 151, 255, 1);*/
	border: none;
	border-radius: 5px;
	border-bottom-right-radius: 0px;
	border-bottom-left-radius: 0px;
	box-shadow: none;
}
.default-box-1 {
	background-color: rgba(114, 151, 255, 1);
}
.default-box-2 {
	background-color: rgba(254, 50, 101, 1);
}
.default-box-3 {
	background-color: rgba(247, 198, 57, 1);
}
.default-box-4 {
	background-color: rgba(247, 150, 33, 1);
}
.stat-image-box {
	position: relative;
	left: 0px;
	top: 0px;
	width: 35px;
	height: 35px;
	/*background: inherit;*/
	border: none;
	border-radius: 10px;
	box-shadow: none;
	font-family: 'Roboto';
	font-weight: 400;
	font-style: normal;
	padding: 5px;
}
#map-swipe-detail {
	position: fixed;
	margin-top: -36px;
	width: 200px;
	left: 50%;
	margin-left: -100px; /* Negative half of width. */
}
#map-swipe-image {
	border-width: 0px;
	position: fixed;
	margin-top: -20px;
	width: 55px;
	height: 6px;
	background: inherit;
	background-color: rgba(33, 64, 105, 0.698039215686274);
	border: none;
	border-radius: 3px;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
	left: 50%;
	margin-left: -27px; /* Negative half of width. */
}
.map-profile-image {
    height: 53px;
    width: 53px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    background-color: black;
    border: 1px solid white;
    box-shadow:rgba(0, 0, 0, 0.2) 0px 2px 0px 0px;
    -webkit-box-shadow:rgba(0, 0, 0, 0.2) 0px 2px 0px 0px;
}

/*filter select*/

/*.filter-slider {
	position: absolute;
	width: 80vw;
	height: 100vh;
	right: 0;
	top: 0;
	overflow: hidden;
	background-color: white;
	transition: all 1s;
}

.filter-slider.filter-close {
	left: 80vh;
	height: 0;
}*/

.filter-slider {
    background-color: white;
    border-radius: 6px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}
.text-filter {
    font-size: x-large;
    vertical-align: middle;
}
.filter-btn-group {
	position: absolute;
	bottom: 0;
}
.filter-btn-group button {
	margin: 16px;
}

#mydiv {
  position: absolute;
  z-index: 9;
  background-color: #f1f1f1;
  text-align: center;
  border: 1px solid #d3d3d3;
}

#mydivheader {
  padding: 10px;
  cursor: move;
  z-index: 10;
  background-color: #2196F3;
  color: #fff;
}

#campaign-stat .stat-card {
	text-align: center;
}
#campaign-stat .stat-card .stat-card-padding {
	text-align: center;
	padding-top: 12px;
}

select#select-filter-campaign, select#select-filter-subcampaign {
	max-width: 200px;
}