
.profile-card {
    width: 100%;
    text-align: center;
    color: white;
    padding: 30px 0;
    line-height: 1.4;
    /*background-color: #33393c;*/
    background-color: white;
    text-shadow: rgba(0, 0, 0, 0.4) 0px 1px 0px;
}

.profile-image {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    background-color: black;
    border 1px solid white;
    /*box-shadow:rgba(0, 0, 0, 0.2) 0px 2px 0px 0px;*/
    /*-webkit-box-shadow:rgba(0, 0, 0, 0.2) 0px 2px 0px 0px;*/
}

.profile-name {
    margin: 20px 0 0 0;
    font-weight: 700;
    font-size: 20px;

    font-family: 'Roboto Bold', 'Roboto Regular', 'Roboto';
    color: #214069;
}

.profile-id {
    margin: 0 0 5px 0;
    font-size: 14px;
    opacity: 0.6;
}

.profile-desc {
    font-size: 15px;
    opacity: 0.6;
    width: 90%;
    text-align: center;
    margin: 0 auto;
}

.info-col {
    height: 60px;
    line-height: 1;
    padding: 12px 0 12px 4px;
}

.info-num {
    font-size: 16px;
    font-weight: 500;
    opacity: 0.8;
}

.info-unit {
    margin-top: 6px;
    font-size: 14px;
    opacity: 0.4;
}

/* copy from patterns/profile.css */



#myAccountPage ons-list-header {
    font-size: 20px;
}
#myAccountPage ons-list-item div.center {
    text-align: left !important;
}

#menu-account {
    height: 100px;
    width: 100px;
    z-index: 9999;
    background: cyan;
    top: 0;
    right: 0;
    position: absolute;
    display: block;
}

/*https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_js_dropdown*/
.dropbtn {
    /*background-color: #3498DB;*/
    background: none;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropbtn:hover, .dropbtn:focus {
    /*background-color: #2980B9;*/
    background: none;
}

.dropdown {
    /*position: relative;*/
    position: absolute;
    display: inline-block;
    right: 0;
    top: 0;
    background-image: url('../images/my_campaign/menu-account.png');
    background-repeat: no-repeat;
    background-position: center;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    right: 0; /*dropdown option align right*/
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown a:hover {background-color: #ddd;}

.show {display: block;}

/* list campaign */
/*https://css-tricks.com/absolute-relative-fixed-positioining-how-do-they-differ/*/
.list-campaign {
    display: block;
    position: relative;
    width: 80%;
    margin-left: 20%;
    border-radius: 8px;
    padding-left: 8vw;
    cursor: pointer;
}
.list-campaign .list-campaign-image {
    position: absolute; /*absolute, relative through card container*/
    left: -20%;
    border-radius: 8px;
    height: 60px;
    width: 80px;
    background: linear-gradient(135deg, rgba(33, 64, 105, 1) 0%,
        rgba(33, 64, 105, 1) 0%,
        rgba(229, 68, 52, 1) 100%,
        rgba(229, 68, 52, 1) 100%);
    color: white;
    padding: 8px;
    font-size: 18px;
}

.img-list-campaign {
    display: inline-block;
    width: 24px;
    height: 24px;
    padding: 2px;
    border: 1px solid #214069;
    border-radius: 4px;
    margin: 2px;
}

/*campaign detail*/
.campaign-detail-padding {
    padding: 16px;
}
.title-padding {
    padding: 8px;
}
.content-padding {
    padding: 0 4px;
}
#campaign-detail-description {
    width: 100%;
    overflow: scroll;
}
ul#lightSlider > li.center {
    /*center*/
    display: block;
    margin-left: auto;
    margin-right: auto !important;
}

#campaign-detail-subcampaigns {
    height: 120px;
    width: 100%;
    overflow-x: scroll;
}
#lightSlider {
    width:600px;
    position: relative;
}

/*http://jsfiddle.net/sMy97/5/*/ /*CURTAIN/OVERLAY, CLICK TO DISMISS*/
#account-campaign-image {
    z-index: 999;
}
#account-campaign-overlay{ 
    position: absolute;
    background-color: rgba(100,100,100, 0.5);
    width: 100%;
    height: 100%;
    top: 0;
    -webkit-transition: all ease 0.4s;
}

#account-subcampaign-image {
    z-index: 999;
}
#account-subcampaign-overlay{ 
    position: absolute;
    background-color: rgba(100,100,100, 0.5);
    width: 100%;
    height: 100%;
    top: 0;
    -webkit-transition: all ease 0.4s;
}