body {
    background-color: white;
}

.splash-center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

#splash-pin {
    width: 48px;
    height: 60px;
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

#splash-logo {
    position: absolute;
    top: 210px;
    width: 60%;
    left: 20%;
}

#splash-progress {
    position: absolute;
    top: 320px;
    width: 10%;
    left: 45%;
}

#splash-footer {
    position:absolute;
    bottom: 0;
}