<ons-page id="driverPage">

	<!-- header, campaign/subcampaign info -->
	<div id="card-driver" class="card stat-card-padding">
		<div class="card__content">
			<div class="row">
				<div class="col-xs-2">
					<img id="driver-img-campaign" class="trigger" src="images/map/karta-logo.png" alt="img-campaign" height="42" width="42" />
				</div>
				<div class="col-xs-8">
					<p><span id="driver-ctnt-campaign-info">Campaign name</span>
					</p>
					<div id="div-driver-info-subcampaign">
						<p><span id="driver-ctnt-subcampaign-info">Subcampaign name</span></p>
					</div>
				</div>
				<div class="col-xs-2">
					<!-- empty -->
				</div>
			</div>
		</div>
	</div>

	<div class="col-search">
		<div id="driver-icon-search" class="driver-filter-trigger">
			<!-- <img src="images/map/map-filter.png" alt="img-campaign" height="24" width="24" /> -->
			<!-- <i class="fa fa-filter fa-2x" aria-hidden="true"></i> -->
			<img src="images/map/icons8-filter.png" alt="img-campaign" height="28" width="28" />
		</div>
	</div>

	<div class="card">
		<div class="card__content">
			<!-- Table driver pagination.js -->

			<div id="table_init_wrap">
				Number of drivers: <span id="driver-number"></span>
				<div id="data-container"></div>
				<div id="pagination-container"></div>
			</div>

			<!-- <ons-col id="driverData">
				<ons-row>
					<ons-card class="list-driver">
				     	<img class="list-driver-image" src="http://karta.id/titan/upload/biker/profile/5229/ugi5rRpNtxjtJ4DXjJJq.profile.yusup_aripin.jpg" alt="driver image" height="20" width="20">
				     	<h4 id="driver-4-nama">Yusup Aripin</h4>

				     	<div class="img-list-driver">
				     		<img src="images/driver/driver-km.png" alt="km" height="16" width="16" />
				     	</div>
				     	<span id="driver-4-km">
				     		1689
				     	</span>
				     	<br />
				     	<div class="img-list-driver">
				     		<img src="images/driver/driver-calendar.png" alt="period" height="16" width="16" />
				     	</div>
				     	<span id="driver-4-period">
				     		2018-04-25 - 2018-05-24
				     	</span>
				     	<br />
				     	<div class="img-list-driver">
				     		<img src="images/driver/driver-info.png" alt="info" height="16" width="16" />
				     	</div>
				     	<span id="driver-4-info">
				     		selesai_lepas_papan
				     	</span>
				    </ons-card>
				</ons-row>
			</ons-col> -->

			<!-- <div id="driver-table">
				
			</div> -->

			<!-- copy from client.biker.tpl -->
			<div id="driver-replacement" style="display: none;">
				<h3>Driver replacement</h3>
				<!-- <div id="table-driver-replacement">
					<table class="table table-striped table-bordered table-hover">
						<thead>
							<tr>
								<th>#</th>
								<th>Name</th>
								<th>Campaign</th>
								<th>Registered</th>
								<th>Uninstall Date</th>
								<th>Total Days</th>
								<th>Total Km Driven</th>
								<th>Status</th>
							</tr>
						</thead>
						<tbody id="non_active_driver">
							
						</tbody>
					</table>
				</div> -->
				<div id="non_active_driver">
					
				</div>
			</div>
		</div>
	</div>



	<!-- div filter camp/sub, see dashboard.html -->

	<!-- div campaign/sub image -->
	<div id="driver-campaign-image" class="slider center campaign-detail-padding close">
		<div class="campaign-swipe-image"></div>
		<ons-icon class="driver-slider-close-btn" icon="md-close" size="28px"></ons-icon>
		<img id="driver-campaign-image-img" src="#" alt="driver campaign image" height="291" width="233" />
		<div id="driver-campaign-name"></div>
	</div>
	<div id="driver-campaign-image-overlay" class="inactive"></div><!-- courtain/overlay -->
</ons-page>