<ons-page id="galleryPage">
	<!-- https://mdbootstrap.com/docs/jquery/forms/radio-button/ -->
	<!--Radio buttons-->
	<div class="campaign-detail-padding">
		<div class="btn-group" data-toggle="buttons">

			<label class="btn btn-default active form-check-label">
				<input class="form-check-input" type="radio" checked autocomplete="off"> All
			</label>

			<label class="btn btn-default form-check-label">
				<input class="form-check-input" type="radio" autocomplete="off"> Convoi
			</label>

			<label class="btn btn-default form-check-label">
				<input class="form-check-input" type="radio" autocomplete="off"> Nongkrong
			</label>

			<label class="btn btn-default form-check-label">
				<input class="form-check-input" type="radio" autocomplete="off"> Instagram
			</label>

		</div>
	</div>
	<!--Radio buttons-->

	<ons-row id="galleryData">
    </ons-row>

    <!-- <div class="card">
	    <div class="gallery-wrapper">
	    	<!-- <img src="images/gallery/u262.jpg" /> --
	    	<div class="gallery-image">
		    	<img class="gallery-image-img" src="images/gallery/u261.jpeg" />
		    </div>
	    	<div class="gallery-caption">@instagram</div>
	    	<div class="gallery-img-over">
	    		<img src="images/gallery/rounded.png">
	    		<img class="instagram" src="images/gallery/instagram.png">
	    	</div>
	    </div>
	</div>

    <!-- v1 -->
    <!-- <div class="card">
	    <div class="card-image waves-effect waves-block waves-light">
	      <img class="activator" src="images/office.jpg">
	    </div>
	    <div class="card-content">
	      <span class="card-title activator grey-text text-darken-4">Card Title<i class="material-icons right">more_vert</i></span>
	      <p><a href="#">This is a link</a></p>
	    </div>
	    <div class="card-reveal">
	      <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
	      <p>Here is some more information about this product that is only revealed once clicked on.</p>
	    </div>
	</div> -->



	<!-- div gallery empty -->
	<div id="empty-gallery">
		<div id="empty-gallery-content" style="display: none;">
			<img id="gallery-logo" alt="Karta" src="images/map/icon-stack-of-photos-bw.png" width="200" height="200" />
			<div class="info">Campaign photos not available.</div>
		</div> 
	</div>



	<!-- div gallery image -->
	<div id="gallery-image" class="slider center campaign-detail-padding close">
		<div class="campaign-swipe-image"></div>
		<ons-icon class="gallery-slider-close-btn" icon="md-close" size="28px"></ons-icon>
		<img id="gallery-image-img" src="#" alt="campaign image" height="291" width="233" />
		<div id="gallery-image-name"></div>
	</div>
	<div id="gallery-image-overlay" class="inactive"></div><!-- courtain/overlay -->
	
</ons-page>