<ons-page id="mapPage">

	<!-- header, campaign/subcampaign info -->
	<div id="card-map" class="card stat-card-padding">
		<div class="card__content">
			<div class="row">
				<div class="col-xs-2">
					<img id="img-campaign" class="trigger" src="images/map/karta-logo.png" alt="img-campaign" height="42" width="42" />
				</div>
				<div class="col-xs-8">
					<p><span id="map-ctnt-campaign-info">Campaign name</span>
					</p>
					<div id="div-map-info-subcampaign">
						<p><span id="map-ctnt-subcampaign-info">Subcampaign name</span></p>
					</div>
				</div>
				<div class="col-xs-2">
					<!-- empty -->
				</div>
			</div>
		</div>
	</div>

	<div class="col-search">
		<div id="icon-search" class="filter-trigger">
			<!-- <img src="images/map/map-filter.png" alt="img-campaign" height="24" width="24" /> -->
			<!-- <i class="fa fa-filter fa-2x" aria-hidden="true"></i> -->
			<img src="images/map/icons8-filter.png" alt="img-campaign" height="28" width="28" />
		</div>
	</div>

	<div class="center">
        Live | Heatmap<br />
        <ons-switch id="switch-map" modifier="material"></ons-switch>
    </div>



    <div id="icon-legend" class="icon-legend">
	    <img src="images/map/info.png" alt="icon-legend" height="30" width="30" />
	</div>

    <div class="card" id="heatmap-legend">
		<div class="card__content">
			<p>Legend</p>
			<p>per Km</p>
			<table>
				<tr>
					<td><div  class="heatmap-legend-box" style="background-color: rgba(255,124,124, 0.3)"></div></td>
					<td><p  id="lg1"></p></div></td>
				</tr>
				<tr>
					<td><div class="heatmap-legend-box" style="background-color: rgba(242,80,80, 0.6)"></div></td>
					<td><p  id="lg2"> </p></td>
				</tr>
				<tr>
					<td><div class="heatmap-legend-box" style="background-color: rgba(226,39,39, 0.73)"></div> </td>
					<td><p  id="lg3"> </p></td>
				</tr>
				<tr>
					<td><div class="heatmap-legend-box" style="background-color: rgba(183,16,16, 0.81)"></div></td>
					<td><p  id="lg4"> </p></td>
				</tr>
				<tr>
					<td><div class="heatmap-legend-box" style="background-color: rgba(145,0,0, 0.83)"></div></td>
					<td><p  id="lg5"> </p></td>
				</tr>
			</table>
		</div>
	</div>

	<div id="live-map-container" style="width: 100%; height: 100%; position: absolute; top:0; left:0; bottom:0; right:0; z-index:-99;"></div>



	<!-- div heatmap empty -->
	<div id="empty-heatmap">
		<div id="empty-heatmap-content" style="display: none;">
			<img id="heatmap-logo" alt="Karta" src="images/map/icon-heatmap-bw.png" />
			<div class="info">The data could be displayed after 14 days from campaign start date.</div>
		</div> 
	</div>



	<!-- div campaign/sub image -->
	<div id="campaign-image" class="slider center campaign-detail-padding close">
		<div class="campaign-swipe-image"></div>
		<ons-icon class="map-slider-close-btn" icon="md-close" size="28px"></ons-icon>
		<img id="campaign-image-img" src="#" alt="campaign image" height="291" width="233" />
		<div id="campaign-name"></div>
	</div>
	<div id="campaign-image-overlay" class="inactive"></div><!-- courtain/overlay -->



	<!-- div campaign stats -->
	<div id="campaign-stat" class="stat-slider stat-first">
		<div id="map-swipe-area"></div><!-- area for swipe up start -->
		<div id="map-swipe-detail" class="center">
          	<p><span>Swipe up for Details</span></p>
        </div>
		<div id="map-swipe-image" class="center"></div><!-- u149_div -->
		<div id="map-swipe-gps">
          	<img src="images/map/map-gps.png" alt="map-gps" width="32" height="32">
        </div>

        <div class="row">
	        <div class="col-xs-3">
				<img class="map-profile-image center" src="images/map/karta-logo.png">
			</div>
			<div class="col-xs-9">
				<h3><span id="campaign-stat-today"></span></h3>
				<p><span id="campaign-stat-remaining"></span></p>
			</div>
		</div>

		<ons-row>
			<ons-col>
				<ons-card class="stat-card">
					<div class="default-box default-box-1"></div>
					<div class="stat-card-padding">
						<p><span>Total KM Driven</span></p>
						<div class="row">
							<div class="col-xs-3">
								<div class="stat-image-box default-box-1">
									<img src="images/map/Speedometer-icon.png" alt="Total KM Driven" height="25" width="25" />
								</div>
							</div>
							<div class="col-xs-9">
								<p><span id="km-stat"></span></p>
							</div>
						</div>
					</div>
				</ons-card>
			</ons-col>
			<ons-col>
				<ons-card class="stat-card">
					<div class="default-box default-box-2"></div>
					<div class="stat-card-padding">
						<p><span>Est. Total View</span></p>
						<div class="row">
							<div class="col-xs-3">
								<div class="stat-image-box default-box-2">
									<img src="images/map/Total-View-Icon.png" alt="Est. Total View" height="25" width="25" />
								</div>
							</div>
							<div class="col-xs-9">
								<p><span id="impression-stat"></span></p>
							</div>
						</div>
					</div>
				</ons-card>
			</ons-col>
		</ons-row>
		<ons-row>
			<ons-col>
				<ons-card class="stat-card">
					<div class="default-box default-box-3"></div>
					<div class="stat-card-padding">
						<p><span>Campaign Period</span></p>
						<div class="row">
							<div class="col-xs-3">
								<div class="stat-image-box default-box-3">
									<img src="images/map/Campign-Period-Icon.png" alt="Campaign Period" height="25" width="25" />
								</div>
							</div>
							<div class="col-xs-9">
								<p><span id="period-stat"></span></p>
							</div>
						</div>
					</div>
				</ons-card>
			</ons-col>
			<ons-col>
				<ons-card class="stat-card">
					<div class="default-box default-box-4"></div>
					<div class="stat-card-padding">
						<p><span>Active Driver</span></p>
						<div class="row">
							<div class="col-xs-3">
								<div class="stat-image-box default-box-4">
									<img src="images/map/Active-Driver-Icon.png" alt="Active Driver" height="25" width="25" />
								</div>
							</div>
							<div class="col-xs-9">
								<p><span id="driver-stat"></span></p>
							</div>
						</div>
					</div>
				</ons-card>
			</ons-col>
		</ons-row>
	</div>
	
	<!-- <div id="mydiv">
		<div id="mydivheader">Click here to move</div>
		<p>Move</p>
		<p>this</p>
		<p>DIV</p>
	</div> -->



	<!-- div filter camp/sub, see dashboard.html -->
	

	
	<ons-popover direction="up" id="menu-account">
	</ons-popover>
	
</ons-page>