<ons-page id="myAccountPage">
	<!-- <ons-popover direction="up" id="menu-account">
	</ons-popover> -->
	

	<div class="profile-card">

		<!-- <ons-popover direction="up" id="menu-account" style="display: block;">
			<div style="padding: 10px; text-align: center;">
				<p>
					This is a popover
				</p>
				<p>
					<ons-button onclick="hidePopover()">Close</ons-button>
				</p>
			</div>
		</ons-popover> -->

		<div class="dropdown">
			<!-- <button onclick="myFunction()" class="dropbtn">Dropdown</button> -->
			<div onclick="toggleMenu()" class="dropbtn">
				<!-- <img src="images/my_campaign/menu-account.png" alt="btn-menu-account" width="30" height="30" /> -->
			</div>
			<div id="myDropdown" class="dropdown-content">
				<!-- <a href="#change-password">Change Password</a> -->
				<a href="#logout" onclick="createConfirmDialog()">Logout</a>
			</div>
		</div>

		<img src="images/karta-round.png" class="profile-image">
		<div class="profile-name"></div>
	</div>

	<div class="title-padding">
		<h3>Company Profile</h3>
	</div>
	<ons-list>
		<ons-list-header>Address</ons-list-header>
		<ons-list-item><span id="account-address"></span></ons-list-item>

		<ons-list-header>Phone Number</ons-list-header>
		<ons-list-item><span id="account-phone"></span></ons-list-item>

		<ons-list-header>Email</ons-list-header>
		<ons-list-item><span id="account-email"></span></ons-list-item>

		<ons-list-header>Province</ons-list-header>
		<ons-list-item><span id="account-province"></span></ons-list-item>

		<ons-list-header>City</ons-list-header>
		<ons-list-item><span id="account-city"></span></ons-list-item>

		<ons-list-header>Zip Code</ons-list-header>
		<ons-list-item><span id="account-zip-code"></span></ons-list-item>

	</ons-list>

	<hr />

	<div class="center">
		<img src="images/my_campaign/line.png" alt="line" height="2" width="291" />
	</div>

	<div class="title-padding">
		<h3>My Campaign</h3>
	</div>
	<div>
		<ons-col id="campaignData">
			<!-- <ons-row>
				<ons-card class="list-campaign">
			     	<img class="list-campaign-image" src="https://s3-ap-southeast-1.amazonaws.com/karta-images/upload/campaign/cmp-img-219.jpg" alt="campaign image" height="80" width="80">
			     	<h4 id="campaign-4-nama">Spotify - Jadi "Lebih Produktif"</h4>

			     	<div class="img-list-campaign">
			     		<img src="images/my_campaign/campaign-driver.png" alt="driver" height="16" width="16" />
			     	</div>
			     	<span id="campaign-4-drivers">
			     		100 drivers
			     	</span>
			     	<br />
			     	<div class="img-list-campaign">
			     		<img src="images/my_campaign/campaign-area.png" alt="area" height="16" width="16" />
			     	</div>
			     	<span id="campaign-4-area">
			     		Jabodetabek
			     	</span>
			     	<br />
			     	<div class="img-list-campaign">
			     		<img src="images/my_campaign/campaign-calendar.png" alt="period" height="16" width="16" />
			     	</div>
			     	<span id="campaign-4-period">
			     		14 Jan 2018 - 24 Jun 2018
			     	</span>
			    </ons-card>
			</ons-row> -->
		</ons-col>
    </div>

	<br />
	
</ons-page>